html, body {
	font-family: Ginto Normal;
	width: 100%;
	height: 100%;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.shinybusy-overlay {
	background-color: black;
}
.pretty.p-toggle {
	height: 100px;
	width: 100px;
}
.tooltip-inner {
	text-align: left!important;
	max-width: 300px;
}

/* removes labels on text slider input */
.irs-single {
	display: none;
}
/* makes slider handle smaller than default and make colors match other switches */
.irs-handle.single{
	top: 21px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
    border: 1px solid #bdc3c7;
    background-color: #bdc3c7;
}
.irs-line {
	background: white !important;
	border: 1px solid #bdc3c7 !important;
}

img.woodwell {
	opacity: 1;
}
img.woodwell:hover {
	opacity: 0.7;
}
img.woodwellBig {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 0;
}
img.woodwellBig:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn.sidebar {
	display: block;
	height: 70px;
	width: 100%;
	border-radius: 0;
	border: 0;
	background-color: #EFEEEE;
}
.btn.sidebar:focus {
	outline: none;
}
.btn.closePanel {
	height: 16px;
	border-radius: 0;
	border: 0;
	background-color: transparent;
	padding-top: 0;
	padding-right: 10px;
}
.btn.closePanel:focus {
	outline: none;
	background-color: transparent;
	box-shadow: none;
}

.btn.customControl {
	width: 29px;
	height: 29px;
	padding: 0;
	display: block;
	outline: none;
	border: 0;
	background-color: #fff;
	vertical-align: center;
}
.btn.customControl:hover {
    background-color: rgb(0 0 0 / 5%);
}
.btn.customControl:focus {
	outline: none;
	box-shadow: none;
}

.btn.calcButton {
	width: 50px;
	height: 50px;
	padding: 0;
	padding-top: 4px;
	display: block;
	outline: none;
	border: 0;
	background-color: #fff;
	vertical-align: center;
}
.btn.calcButton:hover {
    background-color: rgb(0 0 0 / 5%);
}
.btn.calcButton:focus {
	outline: none;
	box-shadow: none;
}
#appLogo {
	height: 80px;
	padding: 8px;
	background-color: #36363C;
}
#betaContainer {
	position: relative;
	height: 6px;
	width: 100%;
	background-color: #4d4d4d;
}
#betaText {
	height: 14px;
	position: absolute;
	bottom: 2px;
	right: 0;
	padding-right: 4px;
	text-align: right;
	color: #DCDAD2;
	font-family: Gemeli Mono;
	font-size: 14px;
	font-style: italic;
	z-index: 10;
	cursor: help;
}
#sidebarPanel {
	background-color: #EFEEEE;
	z-index: 10;
}
#optionsPanel {
	width: 310px;
	height: 100%;
	box-shadow: 6px 0 5px -5px rgba(0, 0, 0, 0.2);
	z-index: 8;
}
#optionsPanel.panelClose {
	background-color: #EFEEEE;
	height: 10px;
	text-align: right;
	padding: 0;
}
#optionsPanel.panelHeader {
	display: table-cell;
	color: black;
	background-color: #EFEEEE;
	font-size: 18px;
	font-weight: 700;
	height: 76px;
	text-align: left;
	vertical-align: bottom;
	padding: 20px;
}
#optionsPanel.panelBody {
	background-color: white;
	padding: 20px 20px 100px 20px;
	overflow-y: auto;
}
.inputHeading {
	font-weight: 700;
	padding-top: 10px;
}
.infoTipGrid {
	align-items: top;
	width: 100%;
	display: grid;
	grid-template-columns: 9fr 1fr;
}
.contactGrid {
	align-items: center;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 9fr;
}
#pixelInspector {
	overflow: hidden;
}
#inputFilesMessage {
	white-space: pre-wrap;
	font-size: 11px;
}
#inputFilesError {
	white-space: pre-wrap;
	color: red;
    font-size: 11px;
}
#shpTypeError {
	color: red;
    font-size: 11px;
}
#mapControls {
	float: right;
	padding: 4px;
	border-radius: 4px;
	/* background-color: #fff; */
	background-color: rgb(54 54 60 / 75%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scaleBox {
	background-color: rgb(54 54 60 / 75%);
	padding: 8px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 4px;
}

/* Mapbox adjusements to match app style better
a.mapboxgl-ctrl-logo {
	z-index: 2;
	opacity: 0.35;
}
a.mapboxgl-ctrl-logo:hover {
	opacity: 0.7;
}
*/


.mapboxgl-ctrl-group {
    border-radius: 0;
}
.mapboxgl-ctrl-group button + button {
    border: 0;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group {
	box-shadow: none;
	background-color: transparent;
}

.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Cpath d='M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Cpath d='M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Cpath d='M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216ZM165.66,98.34a8,8,0,0,1-11.32,11.32L128,83.31l-26.34,26.35A8,8,0,0,1,90.34,98.34l32-32a8,8,0,0,1,11.32,0Zm0,48a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L128,172.69l26.34-26.35A8,8,0,0,1,165.66,146.34Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.mapboxgl-ctrl-scale {
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	text-align: center;
	float: right;
	font-family: Ginto Normal;
    font-size: 10px;
}

.mapboxgl-ctrl-scale .mapboxgl-ctrl-bottom-left {
	bottom: 0;
	right: 92px;
}

.mapboxgl-ctrl-bottom-left {
	bottom: 0;
	left: 92px;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
	padding: 0 5px;
	background-color: rgb(54 54 60 / 75%);
	margin: 0;
}
.mapboxgl-ctrl-attrib {
	color: rgb(255 255 255 / 75%);
}
.mapboxgl-ctrl-attrib a {
	color: rgb(255 255 255 / 75%);
}

.mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon {
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Ccircle cx='120' cy='48' r='24' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/circle%3E%3Ccircle cx='40' cy='120' r='24' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/circle%3E%3Ccircle cx='160' cy='208' r='24' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/circle%3E%3Ccircle cx='208' cy='72' r='24' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/circle%3E%3Cline x1='184.8' y1='65.7' x2='143.2' y2='54.3' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3Cline x1='102.2' y1='64.1' x2='57.8' y2='103.9' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3Cline x1='59.4' y1='134.2' x2='140.6' y2='193.8' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3Cline x1='168' y1='185.4' x2='200' y2='94.6' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3C/svg%3E");
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_trash {
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cline x1='216' y1='56' x2='40' y2='56' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3Cline x1='104' y1='104' x2='104' y2='168' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3Cline x1='152' y1='104' x2='152' y2='168' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/line%3E%3Cpath d='M200 56V208a8 8 0 0 1-8 8H64a8 8 0 0 1-8-8V56' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/path%3E%3Cpath d='M168 56V40a16 16 0 0 0-16-16H104A16 16 0 0 0 88 40V56' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='8'%3E%3C/path%3E%3C/svg%3E");
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.mapboxgl-popup-close-button {
	display: none;
}

/* legend */
.mapboxer-text-ctrl {
	font-family: Ginto Normal;
	color: white;
	background-color: rgb(54 54 60 / 75%);
	padding: 10px 10px 0 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.legend-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 0px 5px;
	height: 120px;
	width: 50px;
	margin: auto;
}
#item-0 {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 6;
	grid-column-end: 2;
	margin-top: 12px;
	margin-bottom: 12px;
}
#item-1 {
	grid-row-start: 1;
	grid-column-start: 2;
	grid-row-end: 2;
	grid-column-end: 3;
}
#item-2 {
	grid-row-start: 2;
	grid-column-start: 2;
	grid-row-end: 3;
	grid-column-end: 3;
}
#item-3 {
	grid-row-start: 3;
	grid-column-start: 2;
	grid-row-end: 4;
	grid-column-end: 3;
}
#item-4 {
	grid-row-start: 4;
	grid-column-start: 2;
	grid-row-end: 5;
	grid-column-end: 3;
}
#item-5 {
	grid-row-start: 5;
	grid-column-start: 2;
	grid-row-end: 6;
	grid-column-end: 3;
}


