@font-face {
	font-family: 'Sohne';
	font-weight: bold;
	src: url('www/SohneSchmal-Fett.otf') format('opentype');
}

@font-face {
	font-family: 'Ginto';
	font-weight: normal;
	src: url('www/GintoNormal-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Ginto';
	font-weight: bold;
	src: url('www/GintoNormal-Bold.otf') format('opentype');
}
